body {
	background: url("/stylesheets/flight1.gif");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	font-weight:700;
	color:white;
}
/*
.gif {
	margin-left: 30%;
	padding: 15px;
	
}*/
@font-face {
font-family: IndieFlower;
src: url("/stylesheets/fonts/SpecialElite.ttf");
}
@font-face {
font-family: sed;
src: url("/stylesheets/fonts/JosefinSans.ttf");
}
h1 {
	font-size:100px !important;

	font-family: IndieFlower !important;
}
form {
	font-family: sed !important;
	color:white;
	font-size:26px !important;
	letter-spacing: 6px;	
}
#jumbo {
	background:maroon;
	color:white;
}
